.accounts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}


.account {
    background: #14141a;
    padding: 2rem;
    text-align: left;
}

.total {
    color: #88869f;
}

