.accounts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: var(--sp-md)
}


.account {
    background: var(--dark-800);
    padding: var(--sp-lg);
    text-align: left;
}

.total {
    color: var(--light-300);
}

