.app__row {
  display: flex;
  margin-top: var(--space-md);
  gap: var(--space-md);
}

.logo {
  height: var(--space-md);
  will-change: filter;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
